<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="customcubeactionmanager.ZPM">
    <Module>
      <Name>customcubeactionmanager</Name>
      <Description>Module that helps manage custom actions in InterSystems IRIS BI</Description>
      <Version>0.0.1</Version>
      <Packaging>module</Packaging>
      <Resource Name="CustomCubeActions.PKG"/>
      <FileCopy Name="Assets/CustomCubeActionsManager_Cover.jpg" Target="${cspdir}broker/covers/CustomCubeActionsManager_Cover.jpg"/>
      <Invokes>
        <Invoke Class="CustomCubeActions.Installer" Method="RunInstaller">
        </Invoke>
      </Invokes>
    </Module>
  </Document>
</Export>
